/* 
primary font: lato
secondary font: roboto condensed

dark orange - #fc7303
light orange - #ffbf70

'bold' purple - #b300db
'light' purple - #eea1ff


*/

.content {
	animation-name: fade-in;
	animation-duration: 5s;
}

.sidebar {
	animation-name: fade-in;
	animation-duration: 5s;
}

body {
	background: #ffbf70;
}

img {
	width: 500px;
	height: 50px;
	transition: 1s all;
}

img:hover {
	width: 550px;
	height: 350px;
}

#main {
	display: grid;
	grid-template-columns: 60% 20%;
	grid-gap: 50px;
}

p {
	font-family: 'Lato', sans-serif;
}

li { 
	font-family: 'Lato', sans-serif;
}

a {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

.sidebar {
	background: #b300db;
	color: #33A1C9;
}

.subtitle {
	
}

.image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-grid > img {
	margin: 10px;
}

#image-1 {
	float: left;
	margin: 25px;
	height: 350px;
}

.post {
	border: 5px solid #eea1ff;
	margin: 5px;
}

.post-text {
	margin-left: 10px;
	margin-right: 10px
}

.post > a {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: #fc7303;
	transition: 0.5s color;
}

.post > a:hover {
	color: #ffbf70;
}

@keyframes fade-in {
	from {opacity: 0;}
	to{opacity: 1;}
}